*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    

}


#body{
    margin-top: 80px;
    height: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background-color: #BAC095;

    
}

.card{
    height: 250px;
    width: 350px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    margin-left: 300px;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    background-color: #636B2F;
    color: white;
    

}

#card1{
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;

}
#photo{
    height: 80%;
    width: 40%;
    border: 2px solid black;
    border-radius: 10px;
}
.img{
    height: 100%;
    width: 100%;
    background-size:cover ;
     border-radius: 10px;
}
#detail{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    color:antiquewhite;
    margin-left: 10%;
 

}
.details{
    font-weight: bold;
}
.hide{
    display: none;
}
.Formbox{
    height: 300px;
    width: 250px;
    background-color: #636B2F;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-left: 60%;
    border: 2px solid  #3e4322;
    border-radius: 8px;
    margin-top: 5px;

}
.Paymbox{
    height: 300px;
    width: 250px;
   background-color: #636B2F;
   color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: 65%;
    margin-top: 5px;
    border: 2px solid  #363a20;
    border-radius: 8px;

}
.hide2{
  display: none;  
}
.hide3{
  display: none;  
}
form{
    height: 100%;
    width: 90%;
    font-weight: bold;
    margin-top: 10%;
   
}
label{
    margin-top: 10px;
}

input{
    height: 20px;
    padding: 1px;
    width: 100%;
    outline: none;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid black;
    text-transform: capitalize;
    border-radius: 5px;
}
#submit{
    height: 25px;
    font-size: 15px;
    width: 120px;
    margin-left: 25%;
    margin-top: 15px;
    color: aliceblue;
    background-color:#3a3e29 ;

}