*{
    margin: 0%;
    padding: 0%;
}
body{
    height: 80px;
    width: 100%;
}

.hide{
    display: none;
}
#index{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: #3D4127;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    background-color: #3D4127; 
}
.sign{
    height: 40px;
    width: 18%;
    line-height: 40px;
    font-size: 25px;
    border: none;
    text-align: center;
    text-decoration: none;
    background-color:#3D4127;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #292c18;
    color: aliceblue;
}
.sign:hover{ 
    transition: all 0.75s  ease-in-out 0.25s;
    background-color: rgb(255, 132, 0);
}

#home1{
    width: 20%;
    line-height: 80px;
    font-weight: 700;
    font-size: 25px;
    margin-left: 2%;
   color: rgb(140, 208, 185);
}
#form{
    height:30px ;
    width:28%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   margin-top: 0px;
}
#Customer{
    border-radius: 0%;
    width: 80%;
    height: 28px;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    padding-left: 3px;
    margin: 0%; 
}
#save {
    width: 20%;
    height: 30px; 
    font-size: 20px;
    border: none;
    color: white;
    cursor: pointer;
   background-color: #636B2f ;
}
#navicon{
    display: none;
}
@media (max-width:770px){
    .nav{
    margin-top: 20px;
    height: 200px;
    width:100%;
    display: flex;
    flex-direction: column;
    background-color: #3D4127; 
    z-index: 1;
}
    .sign{
    height: 24%;
    width:100%;
    border: 1px solid white;
    box-shadow: none;
    border-radius: 0%;
    text-decoration: none;
    text-align: center;
    color: aliceblue;
    margin-top: 2px;

}
.sign:hover{ 
    transition: all 0.75s  ease-in-out 0.25s;
    background-color: rgb(255, 132, 0);
    
}
#index1{
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#index{
    display: flex;
    flex-direction: column;
    
}
.hide{
    display: none;
}
#navicon{
    background-color:#3D4127;
    font-size: 25px;
    line-height: 80px;
    outline: none;
    border: none;
    display: block;
    color: aliceblue;
    cursor: pointer;
}
}