*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
     background-color: #BAC095;

}
#mid{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    
  
}

.formdata{
    width: 40%;
    height: 95%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    border-radius: 8px;
    justify-content: center;
    font-size: 18px;
    color: white;
     background-color: #636B2F;

}
input{
    height: 20px;
    padding: 2px;
    width: 100%;
    outline: none;
    margin-top: 8px;
    border: 1px solid black;
    text-transform: capitalize;
    border-radius: 5px;
}
#submit{
    height: 30px;
    font-size: 20px;
    width: 20%;
    margin-left: 40%;
    margin-top: 15px;
    color: aliceblue;
    background-color:#373b1e;

}