*{
    margin:0%;
   padding: 0%;
}
body{
    height: 100%;
    width: 100%;
    background-color: #BAC095;

}
#card{
    height: 100vh;
    width: 100%;
     background-color: #BAC095;
    display: flex;
    flex-direction: column;
   
    
}
#card1{
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #636B2F;
    margin-top: 100px;
    margin-left: 20%;
    border-radius: 10px;
    padding: 5%;
    

}
#photo{
    height: 80%;
    width: 30%;
    border: 2px solid black;
    border-radius: 10px;
}
.img{
    height: 100%;
    width: 100%;
    background-size:cover ;
     border-radius: 10px;
    
}
#detail{
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    color:antiquewhite;
    margin-left: 20%;
    font-size: 25px;

}
.details{
    font-weight: bold;
}

.table{
   margin-left:20% ;
    width: 60%;
    border: 2px solid black;
     background-color: #636B2F;
     color: antiquewhite;
    padding: 2%;
    margin-top: 5%;
    border-radius: 10px;

}
.table2{
   margin-left:20% ;
    width: 60%;
    border: 2px solid black;
     background-color: #636B2F;
     color: antiquewhite;
    padding: 2%;
    margin-top: 5%;
    border-radius: 10px;

}


th,td{
     height: 20px;
     border: 2px solid black;
    text-align: center;
}
.hide2{
    display: none;
}
.hide3{
    display: none;
}